* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.flex {
    display: flex;
}

.flex_row {
    flex-direction: row;
}

.flex_col {
    flex-direction: column;
}

.flex_gap_10 {
    gap: 10px;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100vh;
}

button {
    max-width: 100px;
    width: 100%;
}